[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".plugins/pure"]
	path = .plugins/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".plugins/zsh-syntax-highlighting"]
	path = .plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
