# Tmux
[submodule ".tmux/plugins/tmux-resurrect"]
    path = .tmux/plugins/tmux-resurrect
    url = git@github.com:tmux-plugins/tmux-resurrect.git

# Fish
[submodule ".config/fish/plugins/fish-kubectl-completions"]
    path = .config/fish/plugins/fish-kubectl-completions
    url = git@github.com:evanlucas/fish-kubectl-completions.git
[submodule ".config/fish/plugins/google-cloud-sdk-fish-completion"]
    path = .config/fish/plugins/google-cloud-sdk-fish-completion
    url = git@github.com:aliz-ai/google-cloud-sdk-fish-completion.git

# Vim - General purpose
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/vim-repeat"]
	path = .vim/pack/plugins/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/pack/plugins/start/slimux"]
	path = .vim/pack/plugins/start/slimux
	url = git@github.com:epeli/slimux.git
[submodule ".vim/pack/plugins/start/emmet-vim"]
	path = .vim/pack/plugins/start/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule ".vim/pack/plugins/start/tabular"]
	path = .vim/pack/plugins/start/tabular
    url = git@github.com:godlygeek/tabular.git
[submodule ".vim/pack/plugins/start/vim-easymotion"]
	path = .vim/pack/plugins/start/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule ".vim/pack/plugins/start/coc.nvim"]
	path = .vim/pack/plugins/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git

# Vim - Language specific
[submodule ".vim/pack/plugins/start/vim-json"]
	path = .vim/pack/plugins/start/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule ".vim/pack/plugins/start/vim-fish"]
	path = .vim/pack/plugins/start/vim-fish
	url = git@github.com:dag/vim-fish.git
[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule ".vim/pack/plugins/start/vim-markdown"]
	path = .vim/pack/plugins/start/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule ".vim/pack/plugins/start/yats.vim"]
	path = .vim/pack/plugins/start/yats.vim
	url = git@github.com:HerringtonDarkholme/yats.vim.git
[submodule ".vim/pack/plugins/start/elm-vim"]
	path = .vim/pack/plugins/start/elm-vim
	url = git@github.com:ElmCast/elm-vim.git
[submodule ".vim/pack/plugins/start/haskell-vim"]
	path = .vim/pack/plugins/start/haskell-vim
	url = git@github.com:neovimhaskell/haskell-vim.git
[submodule ".vim/pack/plugins/start/neoformat"]
	path = .vim/pack/plugins/start/neoformat
	url = git@github.com:sbdchd/neoformat.git
[submodule ".vim/pack/plugins/start/Vim-Jinja2-Syntax"]
	path = .vim/pack/plugins/start/Vim-Jinja2-Syntax
	url = git@github.com:Glench/Vim-Jinja2-Syntax.git
